// Variables  ------------------------------------------------->
@import "../base/variables";

.main-contact{
    background-color: $bg-white;
    .main-contact__container{
        width: 80%;
        margin: 0 auto;
        
        
        
        .contact__container--tittle{
            margin: 20px 0px;
            text-align: center;

            p{
                @include font(1.6rem, normal,300,$ft-black)
            }

            h2{
                @include font(2.5rem,normal,300,$ft-black)
            }
        }

        .contact__container--form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 550px;
            width: 100%;
            margin: 0 auto;

            .form--input{
                display: flex;
                flex-wrap: wrap;
                max-width: 550px;
                width: 100%;
                margin-bottom: 10px;

                h2{
                    @include font(2rem, normal, 100, $ft-black );
                }

                img{
                    margin-right: 10px;
                }
                
                input{
                    max-width: 550px;
                    width: 100%;
                }

                &:nth-child(5){
                    input{
                        height: 100px;
                    }
                }
            }
        }

        button{
            background-color: black;
            color: $ft-white;
            margin: 10px;
            width: 100px;
            margin-left: calc(50% - 50px);
            border: 1px solid grey;
           
        }


    }

}