// Variables  ------------------------------------------------->
@import "../base/variables";

.main-press{
    width: 100%;
    background-color: $bg-white;
    .main-press__container{
        width: 90%;
        text-align: justify;
        margin: 0 auto 20px auto;

        h1,h2,h3{
            @include font(2.6rem,normal,bold,$ft-black);
            margin:20px;

            @media screen and (max-width:768px) {
                font-size: 2rem;
            }
        }

        p{
            @include font(1.6rem,normal,300,$ft-black);
            margin: 10px;
        }

        a{
            padding: 10px;
            @include font(2rem,normal,bold,$ft-black);
            text-decoration: none;
            background-image: linear-gradient(90deg, black, black);
            background-position: left bottom;
            background-size: 0% 1px;
            background-repeat: no-repeat;
            transition: all 0.5s;
            &:hover{
                background-size: 100% 1px;
            }
        }
        
    }
}

.fill{
    @include fill-page;
}